#content table.index .level-1 .date {
  font-size:115%;
  font-weight:bold;
  padding-top: 1.2em;
}

#calendar_head{
  float: left;
  width: 100%;
}
#calendar_head h2{
  text-align: center;
  padding: 0 20%;
  margin-top: 8px;
}
#calendar_head a{
  text-decoration: none;
  color: #000;
}
#calendar_head a.prev{
  float: left;
  width: 20%;
  clear: left;
}

#calendar_head a.next{
  float: right;
  width: 20%;
  clear: right;
  text-align: right;
}

